MONGO_URI=mongodb://localhost:27017/student-notes
JWT_SECRET=my_student_notes_super_secret_2026_8xKp92Lm
EMAIL_USER=vrandadubey31@gmail.com
EMAIL_PASS=fxna qtsp zmcq bdie
CLIENT_URL=http://localhost:3000
PORT=5000
